$base-color: #007b43;
$main-color: #e6b422;
$accent-color: #c71b00;

$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 1.6rem;
$font-size-2xl: 3.2rem;
$font-size-3xl: 4.8rem;

$margin-sm: 4px;
$margin-md: 8px;
$margin-lg: 16px;
$margin-xl: 32px;
$margin-2xl: 64px;

$border-main: solid 1px $main-color;
$border-accent: solid 1px $accent-color;

$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;
$padding-xl: 32px;
$padding-2xl: 64px;
